{% extends 'base.html.twig' %}

{% block body %}
    Homepage.

    <div>{{ user.name }}</div>

    <h1>{{ user.name|reverse|capitalize }}</h1>

    <p>{{ user.name|striptags|slice(0, 2) }}...</p>

    <p>Activate your account before {{ 'next Monday'|date('M j, Y') }}</p>

    {{ include('ads/banner.html.twig') }}

    <div>{{ render(controller('AppBundle:Default:topArticles')) }}</div>

    <div><a href="{{ path('homepage') }}">Return to homepage</a></div>

{% endblock %}
